@media (max-width: 768px) {
  .aboutme-p,
  .col-md-8 {
    width: 100%;
  }
  .col-md-4 {
    margin-top: 10px;
  }
}

.aboutme-fullpage{
  overflow-y: auto;
}

.aboutme-container {
  padding-bottom: 20px;
}

.aboutme-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100vh;
}
.aboutme-p {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.aboutme-p p {
  color: white; 
  font-size: 20px; 
  line-height: 1.6; 
}
.mx-auto {
  margin-top: 15px;
}
