.form-contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  max-width: 800px; /* Formun maksimum genişliğini belirle */
  margin: auto;
  margin-top: 30px;
}

.form-contact form {
  width: 100%; /* Formun genişliğini %100 yap */
}

.contact-button{
  padding-top: 30px;
}

.contact-main{
  overflow-y: auto;
  max-height: 100vh;
}
@media screen and (max-width: 768px) {
    .form-contact{
      max-width: 300px;
    }
}
