.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.text-container {
    margin-top: 20px;
}

.name {
    font-size: 36px;
    font-weight: bold;
}

.developer-title {
    font-size: 24px;
    color: #6c757d; 
    overflow: hidden; /* Ensure the text doesn't overflow */
    white-space: nowrap; /* Prevent the text from wrapping */
    border-right: 2px solid #000; /* Create a border on the right side */
    animation: typing infinite 4s steps(30, end);
    text-align: center;
    padding-left: 15px;
}

@keyframes typing {
    
    from {
        width: 0;
        
    }
    to {
        width: 97%;
    }
}
